.App {
  text-align: center;
  height: '100%';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main{
  margin-top: 56px;
}
.App-link {
  color: #61dafb;
}

.TestButton {
  position: relative;
  top: 56px
}
.Alert
.App-Content {
  position: relative;
  top: 56px
}
main {
  position: 'relative';
  margin-top: '64px';
  top: '56px';
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
